<header class="bg-nord-1 text-white py-4">
  <div class="container mx-auto flex items-center justify-between">
    <h1 class="text-3xl font-bold"><%= @site.title %></h1>
    <nav>
      <ul class="flex space-x-4">
        <% @site.sections.each do |section| %>
          <li><a href="#<%= section.anchor %>" class="hover:text-nord-3"><%= section.link_text %></a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<% @site.sections.each_with_index do |section, index| %>
  <section id="<%= section.anchor %>" class="py-8">
    <div class="container mx-auto flex flex-wrap">
      <% if index.zero? %>
        <div class="w-full md:w-1/2">
        <%== Kramdown::Document.new(section.body).to_html %>
        </div>
        <div class="w-full md:w-1/2 px-8 text-right">
        <% if section.image_url.present? %>
          <%= image_tag section.image_url, class: "inline" %>
        <% end %>
        </div>
      <% else %>
        <div class="w-full">
        <h2 class="text-2xl font-bold mb-8"><%= section.title %></h2>
        <%== Kramdown::Document.new(section.body).to_html %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<footer>
  <%= button_to "Generate", generate_site_path(@site), class: "btn btn-primary" %>
</footer>
